{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block content %}
<div class="cadastro-container-form">
   
    <div class="cadastro-form-box">
        <div class="cadastro-image-box">
            <img src="{% static 'images/cadastro.png' %}" alt="Animal Bonito">
        </div>
        <h1>Solicitação de Cadastro de Animais</h1>
        {% if user.is_authenticated %}
            <form action="{% url 'cadastro_animal' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>Dados do Animal</legend>
                    {{ form.as_p }}
                </fieldset>
                <button type="submit">Cadastrar</button>
            </form>
            {% if animal_cadastrado %}
                <div class="cadastro-success-message">
                    <h2>Animal Cadastrado com Sucesso!</h2>
                    <p>Nome: {{ animal_cadastrado.nome }}</p>
                    <p>Espécie: {{ animal_cadastrado.especie }}</p>
                    <p>Idade: {{ animal_cadastrado.idade }}</p>
                </div>
            {% endif %}
        {% else %}
            <br>
            <p>Por favor, faça <a href="{% url 'login' %}?next={% url 'cadastro_animal' %}">login</a> para solicitar adoção.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
