{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
        <div class="team-section">
            <div class="image-row">
                <div class="profile-circle">
                    <a href="https://www.linkedin.com/in/jclizar/" target="_blank">
                        <img src="{% static 'images/jess.jpg' %}" alt="Foto 1">
                    </a>
                </div>
                <div class="profile-circle">
                    <a href="https://www.linkedin.com/in/raquel-maia-860/" target="_blank">
                        <img src="{% static 'images/maiia.png' %}" alt="Foto 2">
                    </a>
                </div>
                <div class="profile-circle">
                    <a href="https://www.linkedin.com/in/livia-boscolo/" target="_blank">
                        <img src="{% static 'images/livia.jpg' %}" alt="Foto 3">
                    </a>
                </div>
                <div class="profile-circle">
                    <a href="https://www.linkedin.com/in/michelle-martins-da-costa-a67044186/" target="_blank">
                        <img src="{% static 'images/miche.png' %}" alt="Foto 4">
                    </a>
                </div>
                <div class="profile-circle">
                    <a href="https://www.linkedin.com/in/rosanatsf/" target="_blank">
                        <img src="{% static 'images/rosana.jpg' %}" alt="Foto 5">
                    </a>
                </div>
            </div>
        </div>

        <!-- Seção de Links -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-links">
                <h5 class="text-uppercase">Adotar Animais</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Divulgue um Animal</a></li>
                    <li><a href="{% url 'home' %}">Quero Adotar</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-links">
                <h5 class="text-uppercase">Sobre Nós</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Quem Somos</a></li>
                    <li><a href="#!">Quero Ajudar</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-links">
                <h5 class="text-uppercase">Cadastro</h5>
                <ul class="list-unstyled">
                    <li><a href="#!">Cadastre-se</a></li>
                    <li><a href="{% url 'solicitacao_cuidador' %}">Seja um(a) Cuidador(a)</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 bg-dark text-light">
        <p>© 2024 Todos os direitos reservados.</p>
    </div>
</footer>