{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="banner"></div>

<!-- Seção de Pesquisa e Divulgação -->
<section class="pesquisa-divulgacao">
    <br>
    <form class="search-form" method="GET">  <!-- Adiciona o método GET -->
        <input type="text" name="nome_pet" placeholder="Nome do Pet" class="search-input">
        
        <select name="tipo" class="search-select">  <!-- Espécie -->
            <option value="">Espécie</option>
            <option value="Cao">Cachorro</option>
            <option value="Gato">Gato</option>
        </select>
        
        <select name="sexo" class="search-select">  <!-- Gênero -->
            <option value="">Gênero</option>
            <option value="Macho">Macho</option>
            <option value="Fêmea">Fêmea</option>
        </select>
        
        <select name="porte" class="search-select">  <!-- Porte -->
            <option value="">Porte</option>
            <option value="PEQUENO">Pequeno</option>
            <option value="MÉDIO">Médio</option>
            <option value="GRANDE">Grande</option>
        </select>
        
        <select name="estado" class="search-select">  <!-- Estado -->
            <option value="">Estado</option>
            {% for estado in lista_estados %}
                <option value="{{ estado }}">{{ estado }}</option>
            {% endfor %}
        </select>
        
        <select name="cidade" class="search-select">  <!-- Cidade -->
            <option value="">Cidade</option>
            {% for cidade in lista_cidades %}
                <option value="{{ cidade }}">{{ cidade }}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="buscar-btn">Buscar</button>
    </form>
</section>

<!-- Seção de Pets -->
<section class="pets-grid">
    {% for pet in animais %}
        <div class="pet-card">
            <div class="pet-info-top">
                <p>{{ pet.nome }}</p>
            </div>
            <a href="{% url 'detalhes' pet.id %}">
                <img src="{{ pet.foto_animal.url }}" alt="{{ pet.nome }}" class="pet-img" loading="lazy">
            <div class="pet-info-bottom">
                <button class="adote-me-btn">Adote-me</button>
            </div>
            </a>
        </div>
    {% endfor %}
</section>

<!-- Paginação -->
<div class="container">
    {% if animais.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not animais.has_previous %} disabled {% endif %}">
                    <a class="page-link" href='{{url}}?pagina={% if animais.has_previous %}{{ animais.previous_page_number }}{% else %}#{% endif %}'>Anterior</a>                    
                </li>
                {%for page_number in animais.paginator.page_range%}
                    <li class="page-item {% if animais.number == page_number %} active {% endif %}">
                        <a class="page-link" href='{{url}}?pagina={{ page_number }}'>{{ page_number }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if not animais.has_next %} disabled {% endif %}">
                    <a class="page-link" href='{{url}}?pagina={% if animais.has_next %}{{ animais.next_page_number }}{% else %}#{% endif %}'>Próximo</a>
                </li>
            </ul>
        </nav>
    {% endif %}
</div>

{% endblock %}
