{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Seção de Pesquisa e Divulgação -->
<section class="pesquisa-divulgacao">
    <div class="button-group">
        <button class="pesquisa-btn">Pesquisar</button>
        <button class="divulgar-btn">Quero divulgar um Pet</button>
    </div>
    <form class="search-form">
        <input type="text" placeholder="Nome do Pet" class="search-input">
        <select class="search-select">
            <option value="">Espécie</option>
            <option value="cachorro">Cachorro</option>
            <option value="gato">Gato</option>
        </select>
        <select class="search-select">
            <option value="">Gênero</option>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
        </select>
        <select class="search-select">
            <option value="">Porte</option>
            <option value="pequeno">Pequeno</option>
            <option value="medio">Médio</option>
            <option value="grande">Grande</option>
        </select>
        <select class="search-select">
            <option value="">Estado</option>
            <!-- Adicione opções de estados aqui -->
        </select>
        <select class="search-select">
            <option value="">Cidade</option>
            <!-- Adicione opções de cidades aqui -->
        </select>
        <button type="submit" class="buscar-btn">Buscar</button>
    </form>
</section>

<!-- Seção de Pets -->
<section class="pets-grid">
    <!-- Intercalando Gatos e Cachorros -->
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Abel</p>
        </div>
        <img src="{% static 'images/cat1.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Plínio</p>
        </div>
        <img src="{% static 'images/dog1.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Channel</p>
        </div>
        <img src="{% static 'images/cat2.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Cocada</p>
        </div>
        <img src="{% static 'images/dog2.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Bruno</p>
        </div>
        <img src="{% static 'images/cat3.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Pietra</p>
        </div>
        <img src="{% static 'images/dog3.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Mexerica</p>
        </div>
        <img src="{% static 'images/cat4.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Lisbela</p>
        </div>
        <img src="{% static 'images/dog4.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Ken</p>
        </div>
        <img src="{% static 'images/cat5.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Chuvisco</p>
        </div>
        <img src="{% static 'images/dog5.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <!-- Adicionando Gato 6 e Cachorro 6 -->
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Vicky</p>
        </div>
        <img src="{% static 'images/cat6.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
    <div class="pet-card">
        <div class="pet-info-top">
            <p>Nome: Bob</p>
        </div>
        <img src="{% static 'images/dog6.jpg' %}" alt="Nome Pet" class="pet-img">
        <div class="pet-info-bottom">
            <button class="adote-me-btn">Adote-me</button>
        </div>
    </div>
</section>


{% endblock %}