<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6da0347dd5441de133f5f60e075f6a2c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6da0347dd5441de133f5f60e075f6a2c" ></div>
        
</body>
<script>
    
    
            var map_6da0347dd5441de133f5f60e075f6a2c = L.map(
                "map_6da0347dd5441de133f5f60e075f6a2c",
                {
                    center: [-22.449, -48.6388],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d985a90e692c3657ac64d9647a8b1812 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_d985a90e692c3657ac64d9647a8b1812.addTo(map_6da0347dd5441de133f5f60e075f6a2c);
        
    
            var marker_f8da27d24f5b3e5f97585b14b6f8080a = L.marker(
                [-21.1775, -47.0],
                {}
            ).addTo(map_6da0347dd5441de133f5f60e075f6a2c);
        
    
            var icon_d9b294faa8223bd95ac5892fbd3f2a11 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "popup": "Star Icon", "prefix": "glyphicon"}
            );
            marker_f8da27d24f5b3e5f97585b14b6f8080a.setIcon(icon_d9b294faa8223bd95ac5892fbd3f2a11);
        
    
            var marker_8c0c2b96a0ad1dca2f178f72049c1e13 = L.marker(
                [-23.9613, -46.391],
                {}
            ).addTo(map_6da0347dd5441de133f5f60e075f6a2c);
        
    
            var icon_bbc4a98dc8e4bd0bc42d62656b39debd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_8c0c2b96a0ad1dca2f178f72049c1e13.setIcon(icon_bbc4a98dc8e4bd0bc42d62656b39debd);
        
</script>
</html>