<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c443d935abb375ddc0230a7da5c6dd3b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c443d935abb375ddc0230a7da5c6dd3b" ></div>
        
</body>
<script>
    
    
            var map_c443d935abb375ddc0230a7da5c6dd3b = L.map(
                "map_c443d935abb375ddc0230a7da5c6dd3b",
                {
                    center: [-22.449, -48.6388],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f5ce0fd4862048d932add10661de46ad = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f5ce0fd4862048d932add10661de46ad.addTo(map_c443d935abb375ddc0230a7da5c6dd3b);
        
    
            var marker_f1388d453c5625f394f8faf8072a02fb = L.marker(
                [-21.1775, -47.0],
                {}
            ).addTo(map_c443d935abb375ddc0230a7da5c6dd3b);
        
    
            var icon_6cc3e56838e353f5c04d269ec2e5c1bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "purple", "popup": "Star Icon", "prefix": "glyphicon"}
            );
            marker_f1388d453c5625f394f8faf8072a02fb.setIcon(icon_6cc3e56838e353f5c04d269ec2e5c1bc);
        
    
            var marker_13a257bf46a73a9dad30a13d62dad3ae = L.marker(
                [-23.9613, -46.391],
                {}
            ).addTo(map_c443d935abb375ddc0230a7da5c6dd3b);
        
    
            var icon_51a93b744288446d7e7fc07561cfb900 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_13a257bf46a73a9dad30a13d62dad3ae.setIcon(icon_51a93b744288446d7e7fc07561cfb900);
        
</script>
</html>