{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.png' %}" alt="PELUDINHOS S.A" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'sobre_nos' %}">Sobre Nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Quero Adotar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quero_ajudar' %}">Quero Ajudar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro_animal' %}">Divulgar um animal</a>
                </li>
            </ul>
            <div class="d-flex justify-content-end align-items-center">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <!-- Ícone de usuário -->
                        <i class="fas fa-user-circle" style="font-size: 24px;color:#4c2277"></i>
                        <!-- Custom icon instead of arrow -->
                        <i class="bi bi-person-check", style='color:#4c2277'></i>
                    </a>
                    
                    <!-- Dropdown Menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li class="dropdown-item">Olá, {{ user.username }}</li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>

                    </ul>
                </div>
                
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Entrar</a>
                <a href="{% url 'cadastro_pessoa' %}" class="btn btn-warning">Cadastre-se</a>
                {% endif %}
                
            </div>
        </div>
    </div>
</nav>
