{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/sobre_nos.css' %}">
{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="text-primary">MVV</h1>

    <div class="row justify-content-center my-4">
        <div class="col-md-3">
            <div class="p-3 bg-warning text-white rounded h-100">
                <h3>MISSÃO</h3>
                <p>Proporcionar um lar seguro e amoroso para cães e gatos em situação de vulnerabilidade.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 bg-warning text-white rounded h-100">
                <h3>VISÃO</h3>
                <p>Transformar a realidade dos pets abandonados.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 bg-warning text-white rounded h-100">
                <h3>VALORES</h3>
                <p>Empatia <br> Responsabilidade <br> Colaboração <br> Transparência <br> Educação</p>
            </div>
        </div>
    </div>

    <p>A Peludinhos S.A. possui uma atuação totalmente online, proporcionando visibilidade aos pets que buscam um lar. Cada um deles recebe carinho especial na ONG, onde são castrados, tratados e vacinados, prontos para se tornarem seus melhores amigos!</p>

    <h2 class="text-primary mt-5">O processo é simples:</h2>
    <div class="text-left my-3">
        <ol class="text-start mx-auto" style="max-width: 600px;">
            <li><span class="text-primary">Cadastro:</span> Protetores independentes ou pessoas que desejam doar um animal se registram gratuitamente e podem publicar informações sobre os animais.</li>
            <li><span class="text-primary">Busca:</span> Interessados em adotar um novo pet visitam nosso site e procuram um animal que se encaixe no seu perfil.</li>
            <li><span class="text-primary">Adoção:</span> Ao encontrar o pet ideal, é só acessar “quero adotar”, preencher o formulário e combinar com a ONG a entrega do novo membro da família!</li>
        </ol>
    </div>

    <div class="circle-container my-4">
        <div class="rounded-circle bg-warning text-white p-5">
            <div class="fs-4">Já ajudamos</div>
            <div class="fs-1 fw-bold">+1000</div>
            <div class="fs-5">animais em situação de rua</div>
        </div>
    </div>
</div>
{% endblock %}

