{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock %}
{% block content %}
    <h1>Solicitacão de Adoção de {{ animal.nome }}</h1>  <!-- Mostrar o nome do animal -->

    {% if user.is_authenticated %}
    <form action="{% url 'solicitacao_adocao' animal.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Solicitar</button>
    </form>
    {% endif %}
    
{% endblock %}