{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/seja_cuidador.css' %}">
{% endblock %}
{% block content %}
<div class="cuidador-main-container">
    <h1 class="cuidador-title">Cadastro</h1>
    <form action="{% url 'cadastro_pessoa' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="cuidador-table">
            {{ form.as_table }}
        </table>
        <button type="submit" class="cuidador-submit-button">Cadastrar</button>
    </form>
</div>
{% endblock %}
