# Ignore arquivos fora do projeto
/Ada/
/ArkPetResort/
/Avanade/
/Backend/
/CLab/
/FlexboxCSSLab/
/Forks/
/GitFundation/
/GitHub/
/IaLab/
/JavaAdams/
/JavaLab/
/JavaScriptLab/
/Lab365/
/Missao42/
/Msvcp140/
/MyProfile/
/Orange.JS/
/PI2/
/PROJETOS/
/Piscine42/
/Portiforio/
/ProMegePI-2/
/Prolog/
/Pwc/
/PythonLab/
/RpgPooNet/
/Django/
/First\ Project/
/Fourth\ Project/
/Pytest/
/Second\ Project/
/Sixth\ Project/
/Third\ Project/
/TaskScheduler/
/cppLab/
/dataLab/
