:root {
    --primary-color: #6a329f;
    --secondary-color:#f5a623;
    --background-color: rgba(0, 0, 0, 0);
}


img {
    max-width:40%;
    max-height:40%;
  }

button.btn {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}

.btn-block {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: #6a329f;
    color:#f5a623
}

.fa-inverse {
    color: var(--fa-inverse,#6a329f);
}

.navbar-orange {
    background-color: #f5a623;
}

.accent-orange .dropdown-item.active, .accent-orange .dropdown-item:active {
    background-color: #f5a623;
}