/* Configuração do fundo e da fonte */
.cadastro-container-form {
    gap: 20px; /* Espaço entre os quadrados */
}

/* Estilo para o quadrado da imagem */
.cadastro-image-box, .cadastro-form-box {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Ajuste para a imagem ocupar toda a área de forma proporcional ao formulário */
.cadastro-image-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
}

.cadastro-image-box img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

/* Estilo para o quadrado do formulário */
.cadastro-form-box {
    display: flex;
    flex-direction: column;
}

.cadastro-container-form h1 {
    text-align: left;
    color: #613387;
    font-size: 24px;
}

.cadastro-container-form fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.cadastro-container-form legend {
    font-weight: bold;
    color: #613387;
}

.cadastro-container-form button {
    width: 100%;
    padding: 10px;
    background-color: #613387;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-container-form button:hover {
    background-color: #4D295E;
}

.cadastro-success-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3fe;
    border: 1px solid #b8daff;
    border-radius: 5px;
    color: #31708f;
}

.cadastro-container-form p {
    text-align: left;
    color: #333;
}
