.text-primary {
    color: #6A1B9A !important;
    font-size: 20px; 
}


.bg-warning {
    background-color: #f5a623 !important;
}


.circle-container .rounded-circle {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

ol li span {
    font-weight: bold;
}

columns-container {
    display: flex;
    justify-content: space-between; 

}
.column {
    flex: 1; 
    margin: 10px;
    min-width: 200px; 
}

.column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}
